@inherits LayoutComponentBase

@using FinanceTracker.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore.Metadata.Internal


<div class="col-12 page">
    @Body
</div>