/*
    Landing Page
*/
.container{
    width: 1110px;
}
.header-landing-page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: #202235;
    padding-top: 20px;
    padding-bottom: 20px;
}

.landing-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo{
    font-size: 25px;
    margin: 0px;
    color: #fff;
    line-height: inherit;
}
.landing-header-section{
    background: #202235;
}
.landing-page{
    color: #fff;
}

.landing-page-button-section{
    z-index: 1;
}

.header-section{
    background: #202235;
    height: 680px;
}
.landing-header-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    margin: auto;
    width: 600px;
}
.landing-header-image{
    display: flex;
    justify-content: center;
}

.landing-page-main-img{
    margin-top: -320px;
    z-index: 0;
}

.landing-heading{
    font-size: 3rem;
    font-weight: bold;
}
.landing-heading-text{
    color: #a1a1a1;
    font-size: 22px;
}


.landing-page-btn{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background: #fff;
    color: #222222;
    border-radius: 10px;
}

.features-section{
    position: relative;
    background-color: #000;
}

.feature-item{
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
}
.feature-item-second{
    flex-direction: row-reverse;
}

.feature-item-text{
    width: 60%;
}

.feature-item-text-heading{
    color: #fff;
    font-size: 3rem;
}
.feature-item-text-par{
    color: #a1a1a1;
    font-size: 1.2rem;
    padding-right: 5px;
}

.feature-item-img{
    position: relative;
    width: 500px;
    border-radius: 10px;
    border: 5px solid #202235;
}
.feature-item-second{
    text-align: right;
}

.feature-item-image{
    width: 100%;
    border-radius: 4px;
}
/* 493 × 276 px */

.features-section-wallets{
    display: flex;
    justify-content: space-between;
}



@media(max-width: 1300px){
    .landing-page-main-img{
        margin-top: -180px;
    }
}

@media(max-width: 992px){
    .header-section{
        height: 580px;
    }
    .landing-page-main-img{
        margin-top: -180px;
    }
}

@media(max-width: 767px){
    .landing-header-section{
        width: auto;
    }
    .feature-item{
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .feature-item-text{
        width: auto;
    }
}


@media(max-width: 575px){
    .container{
        width: auto;
    }
    .landing-page-main-img {
        margin-top: -100px;
        z-index: 0;
    }
}


@media(max-width: 575px){
    .landing-page-main-img {
        margin-top: -50px;
        z-index: 0;
    }
}

@media(max-width: 376px){
    .landing-heading{
        font-size: 2rem;
    }
    .landing-heading-text {
        font-size: 15px;
    }
    .header-section{
        height: 480px;
    }
}



/*
Register page
*/
.register{
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 380px;
    border-radius: 10px;
    padding: 30px;
}
.register-heading{
    margin-top: 0px;
}

.register-text{
    font-size: 13px;
    margin-top: 0px;
}

.register-form{
    width: 100%;
}

.register-form-login{
    display: flex;
    flex-direction: column;
}

.register-form-password{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}


.register-form-login-input{
    width: 100%;
    height: 30px;
}

.register-form-password-input{
    width: 100%;
    height: 30px;
}

.register-form-btn{
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.register-form-btn:hover{
    color: #e0e0e0;
}

.sign-in{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


/*
Login page
*/

.login{
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
}

.login-heading{
    margin-bottom: 0px;
}

.login-text{
    font-size: 13px;
    margin-top: 0px;
}

.login-form{
    width: 100%;
}

.login-form-login{
    display: flex;
    flex-direction: column;
}

.login-form-password{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.login-form-login-input{
    width: 100%;
    height: 30px;
}

.login-form-password-input{
    width: 100%;
    height: 30px;
}

.login-form-btn{
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.login-form-btn:hover{
    color: #e0e0e0;
}

.sign-un{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/*
    Home page
*/
.btn-primary{
    width: 150px;
}

.add-wallet-btn{
    background: rgba(255,255,255,0.37);
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    width: 150px;
    height: 40px;
}
.add-wallet-btn:hover {
    background: rgba(255,255,255,0.1);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.page-title{
    color: white;
    font-size: x-large;
}

.logout{
    display: flex;
    justify-content: flex-end;
}

.logout-btn{
    border: none;
    background: rgba(255,255,255,0.37);
    width: 70px;
    height: 30px;
    border-radius: 10px;
    color: white;
    
}
.logout-btn:hover{
    background: rgba(255,255,255,0.1);
}

.main{
    display: flex;
    flex-direction: column;
}

.wallet-list{
    display: flex;
    flex-wrap: wrap;
}
.wallet-balance{
    display: flex;
    background: #1d1e22;
    border-radius: 5px;
    width: 200px;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 13px 0 7px 10px;
    margin-right: 13px;
}

.wallet-balance-name{
    color: #fff;
    font-size: 11px;
    margin-bottom: 0;
}
.wallet-balance-amount{
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}

.transaction-list{
    display: flex;
    width: 270px;
    height: auto;
    flex-direction: column;
}

.transaction-item{
    background: #1d1e22;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 60px;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.transaction-heading{
    color: #fff;
    font-size: 20px;
}
.transaction-item-content{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.transaction-item-amount{
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.green{
    color: #0dc10d;
}
.transaction-item-description{
    color: #fff;
    margin-bottom: 0;
    font-size: 11px;
}
.transaction-item-btn{
    height: 60%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lists{
    display: flex;
    flex-direction: row;
}

.lists-item{
    margin-right: 20px;
}

.total-money{
    display: flex;
    width: 270px;
    height: auto;
    flex-direction: column;
}

.total-money-item{
    color: #fff;
    background: #1d1e22;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 40px;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.total-money-balance{
    margin: 0;
}
.total-money-balance-cur{
    margin: 0;
}

@media(max-width: 835px) {
    .sidebar{
        height: auto !important;
    }
}


@media(max-width: 590px) {
    .lists{
        flex-direction: column-reverse;
    }
}

@media(max-width: 473px) {
    .header{
        height: auto;
        flex-direction: column-reverse;
    }
    .logout{
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }
}




/*
    Wallets
*/
.form-group{
    margin-bottom: 10px;
}

.wallets-list{
    display: flex;
}
.wallet-ref{
    text-decoration: none;
    color: white;
}

.wallet-name {
    background: #1d1e22;
    display: block;
    width: 100px;
    height: 50px;
    color: white;
    margin-right: 10px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}
.wallet-name:hover{
    background: #2A2A30FF;
}

@media(max-width: 640px){
    .page{
        height: 100%;
    }
}

@media(max-width: 474px){
    .wallet-balance{
        width: 150px;
    }
    .wallet-list{
        justify-content: space-between;
    }
}

@media(max-width: 373px){
    .wallet-balance{
        width: 120px;
    }
}


/*Modal windows*/
.form-group{
    display: flex;
    flex-direction: column;
}

.modal{
    background: rgba(255,255,255,0.4);
}
.btn-close{
    background: white;
}

.modal-content{
    background: #000025;
    color: #CCCCCCCC;
    border-radius: 10px;
}
.amount-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.modal-amount{
    display: flex;
    flex-direction: column;
}
.modal-description{
    display: flex;
    flex-direction: column;
    
}
.modal-category{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-type{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.modal-btn{
    width: 100%;
    background: #fff;
    border-radius:10px;
    height: 40px;
}
.modal-label{
    font-size: 14px;
}
.modal-input{
    background: #000025;
    border:1px solid #CCCCCCCC;
    border-radius: 6px;
    color: #CCCCCCCC;
    height: 35px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media(max-width: 460px){
    .amount-description{
        flex-direction: column;
    }
    .modal-description{
        margin-bottom: 10px;
    }
}

